<%- include('partials/header'); -%>

<h1><%= title%></h1>

<div>
    <% mycart[0].items.forEach((item)=>{ %>
        <div class="element">
            <p class="productName">Product Name :<%=item.name%></p>
            <p class="quantity">Qty : <%= item.quantity %> </p>
            <p class="price">Price : <%= item.price %> $</p>
        </div>
    <% }) %> 
    <p>Bill : <%= mycart[0].bill %> $</p>
    <a href="/checkout">Checkout</a>
</div>

<style>
    .element{
        border: 1px solid green;
    }

</style>


<%- include('partials/footer'); -%>