<%- include('partials/header'); -%>

<h1><%= product.title %></h1>

<div class="">
        <a href="/products/<%= product._id %>">
            <div class="product">
                <h5 class="productName"><%= product.title %></h5>
                <p class="category">Category : <%= product.category %></p> 
                <img src="<%= product.image %>"  alt="picture">
                <p class="price">Price : <%= product.price %>$ </p>
                <br>
            </div>
        </a>
        <!-- before -->
        <!-- <form action="/products/<%= //product._id %>"> -->
        <form action="/cart/<%= product._id %>">
            <% if(product.quantity) {%>

                <p class="quantity">In stock</p>
                <select name="qty" id="">
                    <% let i = 1; %> 
                    <% do{ %>
                        <option value="<%= i %> "><%= i %></option>
                        <% i++; %> 
                    <% } while(i != product.quantity+1) %>
                </select>
            <% } else{ %>
                <p class="quantity">Not in Stock</p>
            <% } %>
            <br>
            <button class="cart">Add to Cart</button>  
        </form>
</div>

<%- include('partials/footer'); -%>


<script>
    const form = document.querySelector('form');
    const quantity = '';
    const productId = '';

    form.addEventListener('submit', async (e)=>{
        e.preventDefault();
        //get values
        const quantity = form.qty.value;
        const productId = window.location.pathname.split('/')[2];
        console.log(productId, quantity);
        try { // products/dzdzd
            res = await fetch('/cart/'+productId, {
                method : 'POST',
                headers : {'Content-Type':'application/json'},
                body : JSON.stringify({productId, quantity})
            })
        } catch (error) {
            console.log(error);
        }  
    })
</script>